@theme {

  --color-light: #f3f4f6;
  --color-dark: #1f2937;
  --color-secondary: #6b7280;
  --color-primary: #167afa;
  --color-success: #06bb6f;
  --color-danger: #f6282b;
  --color-warning: #f59100;
  --color-info: #24b0d3;

  --color-setxo-50: #f4f3ff;
  --color-setxo-100: #eceafd;
  --color-setxo-200: #dad8fc;
  --color-setxo-300: #beb8fa;
  --color-setxo-400: #9d90f5;
  --color-setxo-500: #7d62f0;
  --color-setxo-600: #673ce5;
  --color-setxo-700: #5c2fd2;
  --color-setxo-800: #4c27b0;
  --color-setxo-900: #402290;
  --color-setxo-950: #261362;

  --color-red-50: #fff1f1;
  --color-red-100: #ffe1e1;
  --color-red-200: #ffc8c9;
  --color-red-300: #ffa1a2;
  --color-red-400: #fe6b6d;
  --color-red-500: #f6282b;
  --color-red-600: #e41e21;
  --color-red-700: #c01517;
  --color-red-800: #9f1517;
  --color-red-900: #83191b;
  --color-red-950: #480708;

  --color-orange-50: #fef9ec;
  --color-orange-100: #fcebc9;
  --color-orange-200: #f9d68e;
  --color-orange-300: #f6bb53;
  --color-orange-400: #f4a431;
  --color-orange-500: #ed7f13;
  --color-orange-600: #d25c0d;
  --color-orange-700: #ae3f0f;
  --color-orange-800: #8e3112;
  --color-orange-900: #742913;
  --color-orange-950: #431305;

  --color-amber-50: #fffbea;
  --color-amber-100: #fff2c5;
  --color-amber-200: #ffe585;
  --color-amber-300: #ffd046;
  --color-amber-400: #ffbb1b;
  --color-amber-500: #f59100;
  --color-amber-600: #e27000;
  --color-amber-700: #bb4b02;
  --color-amber-800: #983a08;
  --color-amber-900: #7c300b;
  --color-amber-950: #481600;

  --color-yellow-50: #fefaec;
  --color-yellow-100: #faf1cb;
  --color-yellow-200: #f5e192;
  --color-yellow-300: #f0ce59;
  --color-yellow-400: #eebf43;
  --color-yellow-500: #e59b1b;
  --color-yellow-600: #cb7714;
  --color-yellow-700: #a85615;
  --color-yellow-800: #894217;
  --color-yellow-900: #713716;
  --color-yellow-950: #411b07;

  --color-lime-50: #fbffe4;
  --color-lime-100: #f5ffc5;
  --color-lime-200: #e9ff92;
  --color-lime-300: #d8ff53;
  --color-lime-400: #c3fb20;
  --color-lime-500: #98d100;
  --color-lime-600: #7eb500;
  --color-lime-700: #608902;
  --color-lime-800: #4c6c08;
  --color-lime-900: #415b0c;
  --color-lime-950: #203300;

  --color-green-50: #ebfef3;
  --color-green-100: #cffce1;
  --color-green-200: #a3f7c9;
  --color-green-300: #67eeac;
  --color-green-400: #2bdc8b;
  --color-green-500: #06bb6f;
  --color-green-600: #009e5e;
  --color-green-700: #007f4f;
  --color-green-800: #01643f;
  --color-green-900: #025236;
  --color-green-950: #002e1f;

  --color-emerald-50: #eefbf6;
  --color-emerald-100: #d6f5e7;
  --color-emerald-200: #b0ead2;
  --color-emerald-300: #7cd9b9;
  --color-emerald-400: #3eb892;
  --color-emerald-500: #23a681;
  --color-emerald-600: #168569;
  --color-emerald-700: #116b56;
  --color-emerald-800: #105546;
  --color-emerald-900: #0e463a;
  --color-emerald-950: #072721;

  --color-teal-50: #f0fdfa;
  --color-teal-100: #ccfbf2;
  --color-teal-200: #9af5e5;
  --color-teal-300: #5fe9d6;
  --color-teal-400: #2fd2c1;
  --color-teal-500: #16bbac;
  --color-teal-600: #0e938a;
  --color-teal-700: #10756f;
  --color-teal-800: #125d59;
  --color-teal-900: #144d4b;
  --color-teal-950: #042f2f;

  --color-cyan-50: #f2fafd;
  --color-cyan-100: #e3f4fb;
  --color-cyan-200: #c1eaf6;
  --color-cyan-300: #8fdbf0;
  --color-cyan-400: #4bc6e5;
  --color-cyan-500: #24b0d3;
  --color-cyan-600: #168fb3;
  --color-cyan-700: #137191;
  --color-cyan-800: #146078;
  --color-cyan-900: #164f64;
  --color-cyan-950: #0f3342;

  --color-sky-50: #f1f9fe;
  --color-sky-100: #e1f2fd;
  --color-sky-200: #bde6fa;
  --color-sky-300: #82d3f7;
  --color-sky-400: #4fc2f1;
  --color-sky-500: #17a4e0;
  --color-sky-600: #0a84bf;
  --color-sky-700: #0a699a;
  --color-sky-800: #0c5980;
  --color-sky-900: #104b6a;
  --color-sky-950: #0b2f46;

  --color-blue-50: #eef8ff;
  --color-blue-100: #d8efff;
  --color-blue-200: #bae2ff;
  --color-blue-300: #8bd3ff;
  --color-blue-400: #55b9ff;
  --color-blue-500: #2d99ff;
  --color-blue-600: #167afa;
  --color-blue-700: #0e5ad4;
  --color-blue-800: #134eba;
  --color-blue-900: #164592;
  --color-blue-950: #122c59;

  --color-indigo-50: #eef1ff;
  --color-indigo-100: #dfe5ff;
  --color-indigo-200: #c6ceff;
  --color-indigo-300: #a3aefe;
  --color-indigo-400: #7f84fa;
  --color-indigo-500: #6560f4;
  --color-indigo-600: #5442e8;
  --color-indigo-700: #4935cd;
  --color-indigo-800: #3b2ea5;
  --color-indigo-900: #342c83;
  --color-indigo-950: #201a4c;

  --color-violet-50: #f6f3ff;
  --color-violet-100: #eee8ff;
  --color-violet-200: #ded5ff;
  --color-violet-300: #c7b3ff;
  --color-violet-400: #ab87fe;
  --color-violet-500: #9157fb;
  --color-violet-600: #8334f3;
  --color-violet-700: #7522df;
  --color-violet-800: #5e1bb4;
  --color-violet-900: #511999;
  --color-violet-950: #310d68;

  --color-purple-50: #f9f4ff;
  --color-purple-100: #f1e6ff;
  --color-purple-200: #e6d0ff;
  --color-purple-300: #d2acff;
  --color-purple-400: #b677ff;
  --color-purple-500: #9a43ff;
  --color-purple-600: #831ffe;
  --color-purple-700: #6f0fe1;
  --color-purple-800: #6012b7;
  --color-purple-900: #440e7d;
  --color-purple-950: #34006e;

  --color-fuchsia-50: #fdf5fe;
  --color-fuchsia-100: #fae9fe;
  --color-fuchsia-200: #f5d3fb;
  --color-fuchsia-300: #f1b0f7;
  --color-fuchsia-400: #e980f2;
  --color-fuchsia-500: #dc5ae7;
  --color-fuchsia-600: #c030c9;
  --color-fuchsia-700: #a224a7;
  --color-fuchsia-800: #852088;
  --color-fuchsia-900: #6f1f70;
  --color-fuchsia-950: #49084a;
  --color-pink-50: #fef1f6;
  --color-pink-100: #fde6f0;
  --color-pink-200: #fdcde2;
  --color-pink-300: #fda4c8;
  --color-pink-400: #fa6ca3;
  --color-pink-500: #f5548e;
  --color-pink-600: #e41e5c;
  --color-pink-700: #c61044;
  --color-pink-800: #a31138;
  --color-pink-900: #881332;
  --color-pink-950: #530418;

  --color-rose-50: #fef2f3;
  --color-rose-100: #fee5e8;
  --color-rose-200: #fccfd7;
  --color-rose-300: #f9a8b5;
  --color-rose-400: #f4788f;
  --color-rose-500: #ec4f70;
  --color-rose-600: #d72754;
  --color-rose-700: #b61a46;
  --color-rose-800: #981941;
  --color-rose-900: #82193d;
  --color-rose-950: #49081e;
}